# タスクの進め方

- docs/roamdap.md を参照
- 未完了のタスクの中から、まとまりのある単位のタスクを選択する
- そのタスクのためのbranchに checkout し、タスクを開始する
  - 仕様が不明瞭な部分は勝手に補おうとせず、ユーザーに確認する
- タスクの中でも意味のある作業のまとまり単位でcommitする
- タスクが完了するごとに、docs/roadma.md のステータスを完了に更新していく
- 今回選択したタスクが完了したら、Pull Request を作成する
  - Pull Request 作成には `gh` コマンドを利用することができる
  - Pull Request には以下の内容を含めること
    - タイトル: 今回の変更の概要
    - 本文: 
      - 変更の概要
- Pull Request を作成するところまでできたら、今回のタスクを完了とし、ユーザーに次の指示を仰ぐ

# 実装のために必要な情報

- docs/*.md に情報をまとめているため、必要になったタイミングで参照する
- 上記を参照しても不明な場合は勝手に補おうとせず、ユーザーに仕様を確認する
- ユーザーに確認したことによって発覚した新情報はドキュメントに反映すること
